{% extends "base.html" %}

{% block title %}{% if is_first_time %}Choose{% else %}Change{% endif %} Username - Phrase Craze{% endblock %}

{% block user_welcome %}
    {% if not is_first_time %}
    <span class="navbar-text ms-3" id="username">
        Current Username: {{ session['user']['name'] }}
    </span>
    {% else %}
    <span class="navbar-text ms-3" id="username">
        Choose a Username
    </span>
    {% endif %}
{% endblock %}

{% block navbar_items %}
    {% if not is_first_time %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view.index') }}"><i class="fa-solid fa-house"></i> Home</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-check-to-slot"></i> Vote</a>
        {{ super() }}
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view.profile') }}"><i class="fa-solid fa-gears"></i> Back to Profile</a>
    </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}"> <i class="fa-solid fa-right-to-bracket fa-rotate-180"></i> Logout</a>
    </li>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card glass">
                <div class="card-body">
                    <h1 class="text-center mb-4">{% if is_first_time %}Choose{% else %}Change{% endif %} Username</h1>
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% for username in usernames %}
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" id="{{ username }}" name="username" value="{{ username }}" required>
                                <label class="form-check-label choose_name" for="{{ username }}">{{ username }}</label>
                            </div>
                        {% endfor %}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn phrasecraze-btn phrasecraze-btn-primary">Submit</button>
                        </div>
                    </form>
                    <form method="GET" action="{{ url_for('auth.generate_usernames') }}" class="text-center mt-3">
                        <button type="submit" class="btn phrasecraze-btn phrasecraze-btn-warning">New Usernames</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}