<!DOCTYPE html>
<html lang="en">
    <head lang="en">
        <title>Confirm Your Email</title>
    </head>
    <body>
        <h2>Email Confirmation</h2>
        <p>Welcome to PhraseMaster! Please confirm your email to activate your account.</p>
        <p>Confirmation Link: <a href ="{{confirm_url}}">{{confirm_url}}</a></p>
        <br />
        <p>If you did not sign up for PhraseMaster, please ignore this email.</p>
        <p>Thank you!</p>
        <br />
        <p>&copy; 2024 PhraseMaster. All rights reserved.</p>
    </body>
</html>