{% extends "base.html" %}

{% block title %}Phrase Craze Voting - {{ submission1['category'].replace('_', ' ') | title }}{% endblock %}

{% block navbar_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view.index') }}"><i class="fa-solid fa-house"></i> Home</a>
    </li>

    {% if 'user' in session and session['user'].get('is_admin') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.admin_dashboard') }}"><i class="fa-solid fa-user-tie"></i> Admin Dashboard</a>
    </li>
    {% endif %}
    
    <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-check-to-slot"></i> Vote</a>
            {{ super() }}
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view.leaderboards') }}"><i class="fa-solid fa-trophy"></i> Leaderboards</a>
    </li>
    
    {% if 'user' in session %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view.profile') }}"><i class="fa-solid fa-gears"></i> Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}"> <i class="fa-solid fa-right-to-bracket fa-rotate-180"></i> Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}"><i class="fa-solid fa-user-plus"></i> Register</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Prompt Section -->
    <div class="prompt">
        <h1 class="mt-5 display-4">{{ submission1['category'].replace('_', ' ') | title }} Voting</h1>
        <p class="mb-2 fs-4">Vote for your favorite submission</p>

        <div class="voting-progress-container mb-3">
            <div class="voting-progress">
                <div class="progress-container">
                    <div class="progress-bar {{ progress_class }}" style="width: {{ progress_width }}%;"></div>
                    <div class="progress-text">{{ votes_remaining }} vote{% if votes_remaining != 1 %}s{% endif %} remaining for {{ formatted_category }}</div>
                </div>
            </div>
        </div>

        <div class="card text-center m-3 glass">
            <p class="lead m-2"><em>{{ submission1['challenge'] }}</em></p>
        </div>
    </div>

    <!-- Voting Section -->
    <div class="cards row">
        <div class="col-md-6 d-flex">
            <div class="card pb-3 mb-4 flex-fill glass"> 
                <h2 class="m-3 mx-4 vote_name">{{ submission1['username'] }}</h2>
                <p class="p-3 vote_phrase"><em>{{ submission1['user_phrase'] }}</em></p>
                <div class="mt-auto">
                <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="username" value="{{ submission1['username'] }}">
                        <button type="submit" name="submission_id" value="{{ submission1['id'] }}" class="btn phrasecraze-btn phrasecraze-btn-primary">Vote {{ submission1['username'] }}</button>
                </form>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex">
            <div class="card pb-3 mb-4 flex-fill glass">
                <h2 class="m-3 mx-4 vote_name">{{ submission2['username'] }}</h2>
                <p class="p-3 vote_phrase"><em>{{ submission2['user_phrase'] }}</em></p>
                <div class="mt-auto">
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="username" value="{{ submission2['username'] }}">
                        <button type="submit" name="submission_id" value="{{ submission2['id'] }}" class="btn phrasecraze-btn phrasecraze-btn-primary">Vote {{ submission2['username'] }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Leaderboard Section -->
    <div class="leaderboard-card glass">
        <h1><p id='datetime'></p> Leaderboard - {{ submission1['category'].replace('_', ' ') | title }}</h1>
        <ul>
            {% for entry in leaderboard %}
            <li>
                <span>{{ entry['username'] }}</span>
                <span>{{ entry['total_votes'] }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="mt-2 text-center">
        <div id="server-time" data-time="{{ server_time }}" style="display: none;"></div>
        <p id="timer"></p>
        <p class="text-muted">At midnight Eastern Time: Voting for yesterday's challenges will be available.</p>
    </div>

    <div class="mt-4 row"> 
        <form action="{{ url_for('view.vote') }}" method="GET" class="d-flex align-items-center justify-content-center">
            <div class="form-group me-3" style="width: 180px;">
                <label for="category">Select New Category:</label>
                <select name="category" id="category" class="form-select">
                    <option value="tiny_story">Story</option>
                    <option value="scene_description">Scene</option>
                    <option value="specific_word">Word</option>
                    <option value="rhyming_phrase">Structure</option>
                    <option value="emotion">Emotion</option>
                    <option value="dialogue">Dialogue</option>
                    <option value="idiom">Idiom</option>
                    <option value="slogan">Slogan</option>
                    <option value="movie_quote">Movie Quote</option>
                </select>
            </div>
            <button type="submit" class="btn phrasecraze-btn mt-4">Vote</button>
        </form>
    </div>

    <div class="mt-2">
        <a href="{{ url_for('view.leaderboards') }}" class="btn phrasecraze-btn phrasecraze-btn-secondary mt-3">View All Leaderboards</a>
    </div>
    
    <div class="mt-4"> 
        <a class="btn phrasecraze-btn phrasecraze-btn-outline-primary" href="{{ url_for('view.index') }}">Return Home</a>
    </div>
{% endblock %}

{% block extra_js %}
{{ super() }}

<script nonce="{{ csp_nonce() }}">
    var todaydate = new Date();
    var day = todaydate.getDate();
    var month = todaydate.getMonth() + 1;
    var year = todaydate.getFullYear();
    var datestring = month + "/" + day + "/" + year;

    // Insert date and time into HTML
    document.getElementById('datetime').innerHTML = datestring;
</script>
{% endblock %}