{% extends "base.html" %}

{% block title %}Create New User - Phrase Craze{% endblock %}

{% block user_welcome %}
<span class="navbar-text ms-3" id="username">
Admin User: {{ session['user']['name'] }}
</span>
{% endblock %}

{% block navbar_items %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('view.index') }}"><i class="fa-solid fa-house"></i> Home</a>
</li>

{% if 'user' in session and session['user'].get('is_admin') %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('admin.admin_dashboard') }}"><i class="fa-solid fa-user-tie"></i> Admin Dashboard</a>
    </li>
{% endif %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-check-to-slot"></i> Vote</a>
    {{ super() }}
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('view.profile') }}"><i class="fa-solid fa-gears"></i> Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.logout') }}"> <i class="fa-solid fa-right-to-bracket fa-rotate-180"></i> Logout</a>
</li>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Create New User</h1>
    <div class="card glass">
        <div class="card-body">
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn phrasecraze-btn phrasecraze-btn-primary">Create User</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}